.grid-container {
  display: grid;
  grid-template: 150px / auto auto auto;
}
 
 section {
float: right;
margin: 0 1.5%;
width: 63%;
}

aside {
float: left;
margin: 0 1.5%;
width: 30%;
}

img{
	border-radius: 50%;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}


header {
	background: red;
	border-bottom: 3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;
  
}