
/* overall layout of the html*/
.grid-container {
  display: grid;
  grid-template: 150px / auto auto auto;
  grid-gap: 20px;
  grid-template-rows: 150px 150px;
}

/*The header section*/
header {
	grid-column: 1/5;
    grid-row: 1 ;
	background: #E80C84;
	border: 1px solid black;
	display:flex;
    justify-content: center;
    align-items: center;
  
}

.HeAd{
	border : 2px solid #FFD0C3;
	justify-content: center;
	color: white;
	align-items: center;
}
 




/* the aside section css code*/
/*aside {
float: left;
margin: 0 1.5%;
width: 30%;
}*/

#Section2 {
	background-color: #E7AAFF;
	grid-column: 1;
    grid-row: 2/5;

}

 img{
	
	border-radius: 51%;
	border:5px dotted #f5c0b1;
    background-position: top right ;
    background-repeat: repeat;
    padding: 5px; 
    width: 180px;
    height: 140px; 
}

.list4 {
border-bottom: 6px double #E7C2FF;
}

.list3{
	border-bottom: 6px double #E7C2FF;
}

/* Last section of the resume*/
#Section3{
	grid-column: 2/;
    grid-row: 2/5;
}

p{
	color: #E80CC9;
}
#last {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
                }
  .Bio{
  	border-bottom: 2px solid grey;
  }

  .Work{
  	border-bottom: 2px solid grey;
  }

 .Edu{
 	 border-bottom: 2px solid grey;
 }

.list1 {

	justify-content: space-between;

}
/*
 section {
float: right;
margin: 0 1.5%;
width: 63%;
}*/






